body{
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: hsl(0, 0%, 85%);
}

#calculator{
    font-family: 'Courier New', Courier, monospace;

    background-color: hsl(0, 0%, 15%);

    border-radius: 15px;

    max-width: 490px;
    height: 100vh;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 15px;

    font-size: 5rem;
    text-align: left;

    border: none;

    background-color: hsl(0, 0%, 20%);
    color: white;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;

    padding: 10px;
}

button{
    width: 100px;
    height: 100px;

    border-radius: 15px;
    border: none;
    box-shadow: 2px 3px hsl(0, 0%, 25%);

    background-color: hsl(0, 0%, 50%);
    color: white;

    font-size: 20px;
    font-weight: bold;

    cursor: pointer;

    &:hover{
        background-color: hsl(0, 0%, 60%);

        &:active{
            background-color: hsl(0, 0%, 70%);
        }
    }
}

.operatorButton{
    background-color: hsl(240, 100%, 50%);

    

    &:hover{
        background-color: hsl(240, 100%, 60%);

        &:active{
            background-color: hsl(240, 100%, 70%);
        }
    }
}