:root{
    --background-base: rgb(189, 189, 255);
    --background-lines: rgb(129, 129, 130);
    --base-color: white;
    --base-variant: #e8e9ed;
    --text-color: #111528;
    --secondary-text: #232738;
    --primary-color: #4a4f5c;
    --accent-color: #c8ae19;
    --border-color: black;

    --progress-low: rgb(215, 34, 18);
    --progress-medium: rgb(215, 169, 18);
    --progress-high: rgb(136, 215, 18);
}

.darkmode{
    --background-base: rgb(48, 48, 67);
    --background-lines: rgb(131, 131, 146);
    --base-color: #070b1d;
    --base-variant: #101425;
    --text-color: #ffffff;
    --secondary-text: #a4a5b8;
    --primary-color: #3a435d;
    --accent-color: #2d0ab8;
    --border-color: white;
}

@font-face {
    font-family: 'Monocraft';
    src: url('monocraft/MinecraftRegular-Bmg3.otf') format('otf'),
        url('monocraft/MinecraftBold-nMK1.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
    padding: 0;

    --tab-bg: var(--base-variant);
    --tab-bg-active: var(--border-color);
    --tab-text: var(--border-color);
    --tab-text-active: var(--base-color);

    font-family: 'Monocraft', sans-serif;
    color: var(--text-color);
    letter-spacing: 2px;
    line-height: 1.5;

    background: var(--background-base);
    background-size: 50px 50px;
    background-image: 
        linear-gradient(to right, var(--background-lines) 1px, transparent 1px),
        linear-gradient(to bottom, var(--background-lines) 1px, transparent 1px);
}

#themeSwitch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
}

#themeSwitch svg{
    fill: var(--primary-color);
}

#themeSwitch svg:last-child{
    display: none;
}

.darkmode #themeSwitch svg:first-child{
    display: none;
}

.darkmode #themeSwitch svg:last-child{
    display: block;
}

.infos{
    position: relative;
    top: 50px;
    left: 45px;
    background: var(--base-color);
    border: 3px solid var(--border-color);
    padding: 40px 25px;
    border-radius: 23px;
    box-shadow: 0 2px 7px var(--primary-color);
    width: 17.8rem;
}

.infos ul li{
    list-style: none;

    position: relative;
    right: 2.8rem;
    padding: .5rem;

    font-weight: bold;
    font-size: 1rem;
}

.progressBar{
    display: block;

    height: .6rem;
    width: 17rem;
    z-index: 2;

    border: 2px solid var(--border-color);
    box-shadow: 0 2px 1.5px var(--primary-color) inset;
    background: var(--base-color);
    background-size: 35px 35px;
    background-image: 
        linear-gradient(to right, var(--border-color) 1.5px, transparent 1px);
}

.progress {
    display: block;

    border: none;
    box-shadow: 0 2px 1.5px var(--primary-color) inset;

    height: .6rem;
    z-index: 1;

    background: var(--progress-high);
    background-size: 35px 305px;
    background-image: 
        linear-gradient(to right, var(--border-color) 1.5px, transparent 1px);
}

#program{
    background-color: var(--progress-low);
    width: 3.5rem;
}

#language{
    background-color: var(--progress-medium);
    width: 8.8rem;
}

#creation{
    width: 12rem;
}

#perform{
    width: 11.2rem;
}

.profilePicture{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 2px solid var(--border-color);
}

.profileName{
    position: relative;
    bottom: 5rem;
    left: 8.1rem;

    padding: 0;
    margin: 0;
}

.contents{
    position: absolute;
    top: 3.5rem;
    left: 25rem;
    margin: 2rem;
}

.tabMenu{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: .5rem;
}

.tabMenuButton{
    appearance: none;
    border: 0;
    border-radius: 20px 20px 0 0;
    background: var(--tab-bg);
    color: var(--tab-text);

    cursor: pointer;

    font-family: 'Monocraft', sans-serif;

    padding: 0.75rem 1rem;

    &.is-active{
        background: var(--tab-bg-active);
        color: var(--tab-text-active);
    }
}

.tabPanel{
    display: none;
    border: 2px solid var(--border-color);
    border-radius: 0 10px 10px 10px;

    background: var(--base-variant);
    text-align: justify;

    padding: 1.8rem 2rem;
    height: 20.5rem;
    width: 45.2rem;

    &.is-active{
        display: block;
    }
}

.tabPanel__heading{
    text-transform: uppercase;
}

form{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

form .contactForm{
    background: var(--base-variant);
    color: var(--text-color);
    font-family: 'Monocraft', sans-serif;

    border: 1.5px solid var(--border-color);
    border-radius: 10px 0 10px 0;

    padding: .3rem;
    width: 10rem;
}

form textarea{
    background: var(--base-variant);
    color: var(--text-color);
    font-family: 'Monocraft', sans-serif;

    border: 1.5px solid var(--border-color);
    border-radius: 10px 0 10px 0;


    width: 20rem;
    height: 5.8rem;
    padding: .3rem;
}

form button{
    background: var(--accent-color);
    color: var(--text-color);
    font-family: 'Monocraft', sans-serif;
    text-transform: uppercase;

    z-index: 0;
    padding: .3rem;

    border-radius: 10px 0 10px 0;

    transition: .3s;
}

form button:hover{
    padding: .5rem;

    transition: .3s;
}

.updated{
    display: inline;
    padding: 0;
    margin: 0;

    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 10px;
    backdrop-filter: blur(4px);

    position: absolute;
    left: 32rem;
    top: 1.3rem;
}

.more{
    margin: 0;
    padding: 0;
    letter-spacing: normal;
    text-decoration: none;
    color: var(--text-color);

    position: absolute;
    bottom: 1.3rem;
    left: 16rem;

    cursor: pointer;
}

.modal{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    background-color: rgba(0, 0, 0, 0.6);

    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    z-index: 100;

    &:target{
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }
}

.modalContent{
    width: 35rem;
    padding: 2rem;
    font-size: 12px;

    position: relative;
    text-align: justify;

    background-color: var(--base-variant);
}

.modalClose{
    text-decoration: none;
    color: var(--text-color);

    padding: 0.5rem;

    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    text-align: center;
    line-height: 2rem;
}

.expSkill{
    line-height: 2rem;
}

.expSkill svg{
    width: 18px;
    height: 18px;

    fill: var(--text-color);
}

.experienceBar{
    display: block;

    height: .6rem;
    width: 28rem;
    z-index: 2;

    border: 2px solid var(--border-color);
    box-shadow: 0 2px 1.5px var(--primary-color) inset;
    background: var(--base-color);
    background-size: 35px 35px;
    background-image: 
        linear-gradient(to right, var(--border-color) 1.5px, transparent 1px);
}

.experience{
    display: block;

    border: none;
    box-shadow: 0 2px 1.5px var(--primary-color) inset;

    height: .6rem;
    z-index: 1;

    background: var(--progress-high);
    background-size: 35px 305px;
    background-image: 
        linear-gradient(to right, var(--border-color) 1.5px, transparent 1px);    
}

#python{
    background-color: var(--progress-medium);
    width: 10.8rem;
}

#jscript{
    background-color: var(--progress-low);
    width: 8rem;
}

#css{
    background-color: var(--progress-high);
    width: 20rem;
}

#html{
    background-color: var(--progress-high);
    width: 21rem;
}
#cpp{
    background-color: var(--progress-low);
    width: 3rem;
}

#tagalog{
    width: 27rem;
}

#english{
    width: 25rem;
}

#spanish{
    background-color: var(--progress-medium);
    width: 10rem;
}

#japanese{
    background-color: var(--progress-low);
    width: 6rem;
}

#french{
    background-color: var(--progress-low);
    width: 2rem;
}

#photo{
    width: 23rem;
}

#video{
    width: 20rem;
}

#writing{
    width: 19rem;
}

#editing{
    width: 19rem;
}

#management{
    width: 21rem;
}

#acting{
    width: 20rem;
}

#voice{
    width: 23rem;
}

#dance{
    width: 18rem;
}

#speaking{
    background-color: var(--progress-medium);
    width: 11rem;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 5px;
    position: relative;
    right: 1.7rem;
}

.projectContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 20rem;
    height: 18rem;

    padding: .8rem;
    margin: 1rem;

    border: 1px solid var(--border-color);
    border-radius: 2rem;
    box-shadow: 3px 3px 0 var(--primary-color);
}

.thumbnail{
    width: 5rem;
    height: 5rem;
}

.projectTitle{
    font-size: medium;
}

.description{
    font-size: smaller;
}

.container a{
    text-decoration: none;
    font-size: smaller;
    color: var(--text-color);

    border: 1px solid var(--border-color);
    border-radius: 1rem;
    padding: 10px;

    background: var(--background-base);

}

.flowContent{
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--background-lines) var(--background-base);
}